<!DOCTYPE html>

<html>

<head>

<title>
Medical History
</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
rel="stylesheet">

</head>


<body>


<div class="container mt-5">


<h1 class="text-center mb-4">
Medical History
</h1>


<div class="card mb-4">

<div class="card-body">

<h3>
{{patient[1]}} {{patient[2]}}
</h3>


<p>
Patient ID : {{patient[0]}}
</p>


<p>
Blood Group : {{patient[8]}}
</p>


</div>

</div>


<h3>
Previous Records
</h3>


<a href="/add_record/{{patient[0]}}"
class="btn btn-primary mb-3">

Add New Record

</a>


{% if records %}


{% for record in records %}


<div class="card mt-3">


<div class="card-body">


<h5>
Record ID : {{record[0]}}
</h5>


<p>
<b>Visit Date:</b>
{{record[7]}}
</p>


<p>
<b>Doctor:</b>
{{record[8]}}
</p>


<p>
<b>Symptoms:</b>
{{record[2]}}
</p>


<p>
<b>Diagnosis:</b>
{{record[3]}}
</p>


<p>
<b>Prescription:</b>
{{record[4]}}
</p>


<p>
<b>Notes:</b>
{{record[5]}}
</p>


<p>
<b>ICD Code:</b>
{{record[6]}}
</p>


</div>


</div>


{% endfor %}


{% else %}


<div class="alert alert-info">

No medical records found.

</div>


{% endif %}


<a href="/doctor_dashboard"
class="btn btn-secondary mt-4">

Back

</a>


</div>


</body>

</html>